{% load static %}
<header>
    <div id="header">
        <div id="logo">
            <img src="{% static 'public/images/logo.png' %}">
        </div>
        <div class="title">
            <h2>마이페이지</h2>
        </div>
        <div id="category">
            <div class="profile">
                {% if request.session.member_files %}
                    {% for file in request.session.member_files %}
                        <img src="/upload/{{ file.path }}" width="30">
                    {% endfor %}
                {% else %}
                    <img src="{% static 'public/images/default-profile.png' %}" width="30">
                {% endif %}
            </div>
            <div>
                {% if request.session.member.member_type == 'project' %}
                    <a href="{% url 'member:logout' %}">로그아웃</a>
                {% else %}
                    <a href="/accounts/logout">로그아웃</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>