{% load static %}
<header>
    <div id="header">
        <div id="logo">
            <img src="{% static 'public/images/logo.png' %}">
        </div>
        <div id="search">
            <div class="search-wrap">
                <form action="/post/list" name="search-form">
                    <div>
                        <select name="type">
                            <option value="" {% if type == "" %}selected{% endif %}>전체</option>
                            <option value="t" {% if type == "t" %}selected{% endif %}>제목</option>
                            <option value="c" {% if type == "c" %}selected{% endif %}>내용</option>
                            <option value="w" {% if type == "w" %}selected{% endif %}>작성자</option>
                            <option value="cw" {% if type == "cw" %}selected{% endif %}>내용 또는 작성자</option>
                        </select>
                    </div>
                    <div class="search-container">
                        <input type="text" autocomplete="off" name="keyword" value="{{ keyword }}">
                        <button type="submit" onclick=""><img src="{% static 'public/images/search.png' %}"
                                width="20px"></button>
                    </div>
                </form>
            </div>
        </div>
        <div id="category">
            <div class="profile" onclick="location.href='{% url 'member:mypage' %}'">
                {% if request.session.member_files %}
                    {% for file in request.session.member_files %}
                        <img src="/upload/{{ file.path }}" width="30">
                    {% endfor %}
                {% else %}
                    <img src="{% static 'public/images/default-profile.png' %}" width="30">
                {% endif %}
            </div>
            <div>
                {% if request.session.member.member_type == 'project' %}
                    <a href="{% url 'member:logout' %}">로그아웃</a>
                {% else %}
                    <a href="/accounts/logout">로그아웃</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
