{% extends 'post/base.html' %}
{% load static %}

{% block title %}목록{% endblock %}

{% block content %}
    <main id="post">
        <section id="post-banner">
            <div><a href="/post/write?page={{ page }}&order={{ order }}&type={{ type }}&keyword={{ keyword }}"><img src="{% static 'public/images/post_banner.png' %}"></a></div>
        </section>
        <section id="info-wrap">
            <article id="info-container">
                <h6 class="info">게시글 목록<br>{{ total }}개</h6>
                <section class="order">
                    <a href="/post/list?type={{ type }}&keyword={{ keyword }}">최신순</a>
                    <a href="/post/list/?order=popular&type={{ type }}&keyword={{ keyword }}">인기순</a>
                </section>
            </article>
            <section id="content-wrap">
                <ul>
                    {% for post in posts %}
                        <li>
                            <div>
                                <a href="/post/detail/?id={{ post.id }}&page={{ page }}&order={{ order }}&type={{ type }}&keyword={{ keyword }}">
                                    <section class="content-container">
                                        <div class="profile">
                                            <div>
                                                {% if post.member.memberfile_set.all|length != 0 %}
                                                    {% for file in post.member.memberfile_set.all %}
                                                        <img src="/upload/{{ file.path }}" width="15px">
                                                    {% endfor %}
                                                {% else %}
                                                    <img src="{% static 'public/images/default-profile.png' %}" width="15px">
                                                {% endif %}
                                            </div>
                                            <h6 class="writer">{{ post.member.member_name }}</h6>
                                        </div>
                                        <h4 class="title">{{ post.post_title }}</h4>
                                        <h6 clss="post-info">
                                            <span class="read-count">조회 {{ post.post_read_count }}</span>
                                            <span>·</span>
                                            <span class="date">{{ post.change_date_format }}</span>
                                        </h6>
                                    </section>
                                    {% for postfile in post.postfile_set.all %}
                                        {% if postfile.preview %}
                                            <img src="/upload/{{ postfile.path }}" class="preview">
                                        {% endif %}
                                    {% endfor %}
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div id="paging-wrap">
                    {% if start_page > 1 %}
                        {% if order == 'popular' %}
                            <a href="/post/list/?page={{ start_page|add:-1 }}&order=popular&type={{ type }}&keyword={{ keyword }}" class="paging paging-move"><img src="{% static 'public/images/prev.png' %}" width="15px"></a>
                        {% else %}
                            <a href="/post/list/?page={{ start_page|add:-1 }}&type={{ type }}&keyword={{ keyword }}" class="paging paging-move"><img src="{% static 'public/images/prev.png' %}" width="15px"></a>
                        {% endif %}
                        
                    {% endif %}
                    {% for i in "x"|rjust:page_count %}
                        {% if forloop.counter0|add:start_page <= real_end%}
                            {% if page == forloop.counter0|add:start_page %}
                                <a href="javascript:void(0)" class="paging paging-checked">{{ forloop.counter0|add:start_page}}</a>
                            {% else %}
                                {% if order == 'popular' %}
                                    <a href="/post/list/?page={{ forloop.counter0|add:start_page }}&order=popular&type={{ type }}&keyword={{ keyword }}" class="paging">{{ forloop.counter0|add:start_page}}</a>
                                {% else %}
                                    <a href="/post/list/?page={{ forloop.counter0|add:start_page }}&type={{ type }}&keyword={{ keyword }}" class="paging">{{ forloop.counter0|add:start_page}}</a>
                                {% endif %}
                                
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if end_page < real_end %}
                        {% if order == 'popular' %}
                            <a href="/post/list/?page={{ end_page|add:1 }}&order=popular&type={{ type }}&keyword={{ keyword }}" class="paging paging-move"><img src="{% static 'public/images/next.png' %}" width="15px"></a>
                        {% else %}
                            <a href="/post/list/?page={{ end_page|add:1 }}&type={{ type }}&keyword={{ keyword }}" class="paging paging-move"><img src="{% static 'public/images/next.png' %}" width="15px"></a>
                        {% endif %}
                        
                    {% endif %}
                    <div></div>
                </div>
            </section>
        </section>
    </main>
{% endblock %}

{% block js %}
{% endblock %}